Repository Mechanics-cloud/OurProject: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix"
  ],
  "*.{scss,css}": ["stylelint --fix --allow-empty-input", "prettier --write"]
}

IN-196 fix: fix correct crop
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add validation and util function
  src/common/enums/enums.ts
  src/features/createPost/model/addPhotoSchema.ts
  src/features/createPost/model/addPhotosCheck.ts
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/cropping/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add delete in minis
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ControllersPanel.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ScaleControllerPopover.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 refactor: instance changed to this.instance
  src/features/home/api/home.api.ts
  src/features/home/api/posts.api.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 refactor: create endpoints
  src/features/home/api/home.api.ts
  src/features/home/api/home.endpoints.ts
  src/features/home/api/index.ts
  src/features/home/api/posts.api.ts
  src/features/home/api/posts.endpoints.ts
  src/features/home/model/homePageStore.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 refactor: refactor store
  src/features/home/model/homePageStore.ts
  src/features/home/model/posts/likesStore.ts
  src/features/home/model/posts/postsStore.ts
  src/features/home/ui/LinksGroup.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-193 feat: add isProfileLoading to profileStore and skeletons while loading user profile
  src/assets/icons/filledIcons/Close.tsx
  src/common/form/index.ts
  src/common/layout/layoutForAuthorized/LayoutForAuthorized.tsx
  src/features/profile/index.ts
  src/features/profile/settings/generalInfo/index.ts
  src/features/profile/settings/generalInfo/model/profileStore.ts
  src/features/profile/settings/generalInfo/model/useAvatarUpload.ts
  src/features/profile/settings/generalInfo/model/useFetchLocations.ts
  src/features/profile/settings/generalInfo/model/useFillGeneralInfo.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
  src/features/profile/settings/generalInfo/ui/GeneralInfo.tsx
  src/features/profile/settings/generalInfo/ui/GeneralInfoPage.tsx
  src/features/profile/settings/generalInfo/ui/index.ts
  src/features/profile/settings/getSettingsTabs.tsx
  src/features/profile/ui/GeneralInfoLoading.tsx
  src/features/profile/ui/LoadingComponent.tsx
  src/features/profile/ui/ProfileAboutMe.tsx
  src/features/profile/ui/ProfileAvatar.tsx
  src/features/profile/ui/ProfileStatistics.tsx
  src/features/profile/ui/ProfileUserName.tsx
  src/features/profile/ui/index.ts
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-203] fix: logics ssr
  src/common/hooks/useMe.ts
  src/common/hooks/useScreenWidth.ts
  src/features/profile/settings/generalInfo/api/profile.api.ts
  src/features/profile/settings/generalInfo/api/profile.endpoints.ts
  src/features/profile/settings/generalInfo/api/profileApi.types.ts
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-193 refactor: skeleton styles
  src/features/profile/ui/GeneralInfoLoading.tsx
  src/features/profile/ui/LoadingComponent.tsx
  src/features/profile/ui/ProfileAboutMe.tsx
  src/features/profile/ui/ProfileAvatar.tsx
  src/features/profile/ui/ProfileStatistics.tsx
  src/features/profile/ui/ProfileUserName.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add styles to minis
  src/features/createPost/model/addPhotosCheck.ts
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ControllersPanel.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ScaleControllerPopover.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add styles to minis
  src/features/createPost/ui/components/SwiperCover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ControllersPanel.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 refactor: refactor names
  src/common/utils/clearAllData.ts
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/components/SwiperCover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ScaleControllerPopover.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/Filters.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: change adding photo check
  src/features/createPost/model/addPhotosCheck.ts
  src/features/createPost/ui/AddPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 fix: fix bullet styles
  src/common/components/tabs/Tabs.tsx
  src/features/createPost/ui/components/SwiperCover.tsx
  src/features/createPost/ui/filtering/Filter.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/features/createPost/ui/filtering/InstaFilters.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add close modal
  src/common/components/baseModal/SimpleModal.tsx
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/ClosePostCreatingModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add logic to modal
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/ClosePostCreatingModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add filter markup
  src/features/createPost/ui/filtering/ClassicSettings.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/features/createPost/ui/filtering/InstaFilters.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-159 fix: changes according to comments
  src/features/home/model/utilsCalculateCharactersToShow.ts
  src/features/home/ui/AddCommentGroup.tsx
  src/features/home/ui/LinkProfile.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-193 fix: remove skeletons from profile page
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 refactor: change const structure
  src/common/utils/clearAllData.ts
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  tsconfig.json
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add modal to mobile menu
  src/common/components/baseModal/BaseModal.tsx
  src/common/components/menu/Menu.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: post information form fields
  src/common/components/calendar/Calendar.tsx
  src/common/components/index.ts
  src/common/components/select/Select.tsx
  src/common/components/textarea/helper.ts
  src/common/components/userMiniLink/UserMiniLink.stories.ts
  src/common/components/userMiniLink/UserMiniLink.tsx
  src/common/components/userMiniLink/index.ts
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/features/createPost/ui/publication/AddTextPost.tsx
  src/features/createPost/ui/publication/PublicationModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add location
  public/locations.json
  src/common/components/select/Select.tsx
  src/common/components/textfield/helper.ts
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/ui/publication/AddTextPost.tsx
  src/features/createPost/ui/publication/CityAutocomplete.tsx
  src/features/profile/settings/generalInfo/api/locations.api.ts
  src/features/profile/settings/generalInfo/model/useFetchLocations.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add index
  src/features/createPost/api/index.ts
  src/features/createPost/index.ts
  src/features/createPost/model/index.ts
  src/features/createPost/ui/components/index.ts
  src/features/createPost/ui/components/photoControllerButton/index.ts
  src/features/createPost/ui/cropping/ControllersPanel/index.ts
  src/features/createPost/ui/cropping/index.ts
  src/features/createPost/ui/filtering/index.ts
  src/features/createPost/ui/index.ts
  src/features/createPost/ui/publication/index.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add logic to location
  src/common/utils/clearAllData.ts
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/model/index.ts
  src/features/createPost/model/useCityAutocomplete.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/components/SwiperCover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ScaleControllerPopover.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/features/createPost/ui/filtering/InstaFilters.tsx
  src/features/createPost/ui/index.ts
  src/features/createPost/ui/publication/AddTextPost.tsx
  src/features/createPost/ui/publication/CityAutocomplete.tsx
  src/features/createPost/ui/publication/PublicationModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 refactor: shortener imports
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/components/SwiperCover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/ControllersPanel/AspectControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ControllersPanel.tsx
  src/features/createPost/ui/cropping/ControllersPanel/MiniaturePhoto.tsx
  src/features/createPost/ui/cropping/ControllersPanel/ScaleControllerPopover.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/features/createPost/ui/filtering/ClassicSettings.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/features/createPost/ui/filtering/InstaFilters.tsx
  src/features/createPost/ui/publication/PublicationModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-203] fix: displaying the profile editing button
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add crop
  src/features/createPost/model/crop.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-213] fix: fix imports
  src/common/components/index.ts
  src/features/profile/settings/devices/api/profile.devices.api.ts
  src/features/profile/settings/devices/index.ts
  src/features/profile/settings/devices/model/index.ts
  src/features/profile/settings/devices/model/profileSessionsStore.ts
  src/features/profile/settings/devices/model/useDevices.ts
  src/features/profile/settings/devices/ui/Device.stories.ts
  src/features/profile/settings/devices/ui/Device.tsx
  src/features/profile/settings/devices/ui/Devices.tsx
  src/features/profile/settings/devices/ui/OtherSessions.tsx
  src/features/profile/settings/devices/ui/index.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-196] fix: fix modal window question
  src/features/createPost/ui/NewPostDialog.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-213] fix: delete field trigger
  src/features/auth/model/forgotPassword/useForgotPassword.ts
  src/features/auth/model/forgotPassword/useRecoveryPassword.ts
  src/features/auth/model/signIn/useSignIn.ts
  src/features/auth/model/signUp/useSignUp.ts
  src/features/profile/settings/devices/model/profileSessionsStore.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-193 fix: skeleton styles and add labels
  src/features/profile/ui/GeneralInfoLoading.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-209 chore: update next to 14.2.10
  package.json
  pnpm-lock.yaml
Due: none

[IN-196] feat: add photo crop
  src/common/utils/crop.ts
  src/features/createPost/model/crop.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/profile/settings/avatarDialog/model/types.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add photo crop type
  src/common/types.ts
  src/common/utils/createFileForUpload.ts
  src/common/utils/crop.ts
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/profile/settings/avatarDialog/model/avatarDialog/useAvatarDialog.ts
  src/features/profile/settings/avatarDialog/model/types.ts
  src/features/profile/settings/generalInfo/model/profileStore.ts
  src/features/profile/settings/generalInfo/model/useAvatarUpload.ts
  src/features/profile/settings/generalInfo/model/useFillGeneralInfo.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 fix: change imports
  src/common/utils/cropPhoto.ts
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/types.ts
  src/features/profile/settings/generalInfo/api/profileApi.types.ts
  src/features/profile/settings/generalInfo/model/profileStore.ts
  src/features/profile/settings/generalInfo/model/useAvatarUpload.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 fix: fix photo show
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/InstaFilters.tsx
  src/features/createPost/ui/publication/PublicationModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 fix: Extract post logic to separate file and rename variables
  src/features/home/model/posts/likesStore.ts
  src/features/home/model/wrapperParentComponent.tsx
  src/features/home/ui/AvatarGroupWithLikes.tsx
  src/features/home/ui/Home.tsx
  src/features/home/ui/PostItem.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add filters
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/useCityAutocomplete.ts
  src/features/createPost/ui/cropping/PhotoCrop.tsx
  src/features/createPost/ui/filtering/ClassicSettings.tsx
  src/features/createPost/ui/publication/CityAutocomplete.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-201 feat: add react-intersection-observer and create folder for loader foto
  package.json
  pnpm-lock.yaml
  src/features/profile/loadFotoPosts/loderFotoPosts.tsx
  src/features/profile/loadFotoPosts/types.ts
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix
