Repository Mechanics-cloud/OurProject: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

[IN-190] fix: error logging out
  src/common/utils/clearAllData.ts
  src/features/auth/api/instance.ts
  src/features/auth/model/authStore.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: first draft
  package.json
  pnpm-lock.yaml
  src/common/components/sideBar/SideBar.tsx
  src/features/createPost/model/historyOfChanges.ts
  src/features/createPost/ui/addNewPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 chore: clear folder, add Context, out Api
  src/common/components/sideBar/SideBar.tsx
  src/common/paths.ts
  src/features/home/api/posts.api.ts
  src/features/home/model/homeContext.ts
  src/features/home/model/posts/commentsStore.ts
  src/features/home/model/posts/postsStore.ts
  src/features/home/model/wrapper.tsx
  src/features/home/ui/AddCommentGroup.tsx
  src/features/home/ui/Home.tsx
  src/features/home/ui/LinksGroup.tsx
  src/features/home/ui/ViewAllCommentsButton.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add slider
  package.json
  pnpm-lock.yaml
  src/common/components/slider/Slider.stories.ts
  src/common/components/slider/Slider.tsx
  src/common/components/slider/index.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-192 refactor: async/await in profile.api.ts
  src/features/profile/settings/generalInfo/api/profile.api.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: set structure
  src/common/components/sideBar/SideBar.tsx
  src/features/createPost/model/historyOfChanges.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/CropPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/addNewPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add icons
  src/assets/icons/outlineIcons/BookPhotoOutline.tsx
  src/assets/icons/outlineIcons/LandscapePhotoOutline.tsx
  src/assets/icons/outlineIcons/SquarePhotoOutline.tsx
  src/assets/icons/outlineIcons/index.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-192 refactor: naming, remove debugger
  src/features/profile/settings/generalInfo/model/profileStore.ts
  src/features/profile/settings/generalInfo/model/useAvatarUpload.ts
  src/features/profile/settings/generalInfo/model/useFillGeneralInfo.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
  src/features/profile/settings/generalInfo/ui/GeneralInfo.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add cropping controllers markup
  src/common/components/slider/index.ts
  src/features/createPost/ui/CropPhotoModal.tsx
  src/features/createPost/ui/components/index.ts
  src/features/createPost/ui/components/photoControllerButton/PhotoControllerButton.tsx
  src/features/createPost/ui/components/slider/Slider.stories.ts
  src/features/createPost/ui/components/slider/Slider.tsx
  src/features/createPost/ui/components/slider/index.ts
  src/features/createPost/ui/cropping/ControllersPanel.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add context
  src/common/components/sideBar/SideBar.tsx
  src/features/createPost/model/PhotoEditorProvider.tsx
  src/features/createPost/model/useStages.ts
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-196] IN-159 init: install Swiper
  package.json
  pnpm-lock.yaml
Due: none

[IN-196] IN-159 fix: add type fix styles
  public/Vector.svg
  src/common/components/slider/Slider.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add photo filter
  src/common/components/index.ts
  src/common/components/swiperImage/SwiperImage.tsx
  src/common/components/swiperImage/index.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-192 / Delete Avatar (#91)
  src/features/profile/settings/generalInfo/api/profile.api.ts
  src/features/profile/settings/generalInfo/api/profile.endpoints.ts
  src/features/profile/settings/generalInfo/model/profileStore.ts
  src/features/profile/settings/generalInfo/model/useAvatarUpload.ts
  src/features/profile/settings/generalInfo/model/useFillGeneralInfo.ts
  src/features/profile/settings/generalInfo/ui/AddPhoto.tsx
  src/features/profile/settings/generalInfo/ui/FormCalendar.tsx
  src/features/profile/settings/generalInfo/ui/GeneralInfo.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: slider styles
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add filters base
  src/features/createPost/ui/filtering/Filter.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
  src/features/createPost/ui/filtering/Filters.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add buttons
  src/common/components/swiperImage/SwiperImage.tsx
  src/features/createPost/ui/components/SwiperNavigation.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 fix: delete unnecessary files
  src/common/components/swiperImage/SwiperImage.tsx
  src/features/createPost/ui/components/SwiperNavigation.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-159 chore: , add translate LinksGroup
  locales/en.ts
  locales/ru.ts
  src/common/components/tooltip/Tooltip.tsx
  src/features/home/model/homeContext.ts
  src/features/home/ui/AddCommentGroup.tsx
  src/features/home/ui/LinksGroup.tsx
  src/features/home/ui/ViewAllCommentsButton.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 fix: fix excessive call request
  src/features/home/model/posts/postsStore.ts
  src/features/home/model/wrapper.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-181 refactor: refactor README file, refactor zod schemes in signIn, signUp, recovery password, forgot password forms
  .env
  .env.example
  .env.production
  .gitignore
  README.md
  locales/en.ts
  locales/ru.ts
  src/common/components/reCaptcha/BaseReCAPTCHA.tsx
  src/common/hooks/useTranslation.ts
  src/features/auth/model/forgotPassword/forgotPasswordSchema.ts
  src/features/auth/model/forgotPassword/recoveryPasswordSchema.ts
  src/features/auth/model/forgotPassword/useForgotPassword.ts
  src/features/auth/model/forgotPassword/useRecoveryPassword.ts
  src/features/auth/model/signIn/singInSchema.ts
  src/features/auth/model/signIn/useSignIn.ts
  src/features/auth/model/signUp/singUpSchema.ts
  src/features/auth/model/signUp/useSignUp.ts
  src/features/auth/ui/signUp/SignUpForm.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-181 refactor: refactor
  locales/en.ts
  locales/ru.ts
  src/common/components/reCaptcha/BaseReCAPTCHA.tsx
  src/common/enviroments.ts
  src/common/hooks/useTranslation.ts
  src/features/auth/model/forgotPassword/forgotPasswordSchema.ts
  src/features/auth/model/forgotPassword/recoveryPasswordSchema.ts
  src/features/auth/model/forgotPassword/useForgotPassword.ts
  src/features/auth/model/forgotPassword/useRecoveryPassword.ts
  src/features/auth/model/signIn/singInSchema.ts
  src/features/auth/model/signIn/useSignIn.ts
  src/features/auth/model/signUp/singUpSchema.ts
  src/features/auth/model/signUp/useSignUp.ts
  src/features/auth/ui/SignInForm.tsx
  src/features/auth/ui/forgotPassword/ForgotPasswordForm.tsx
  src/features/auth/ui/forgotPassword/RecoveryPasswordForm.tsx
  src/features/auth/ui/signUp/SignUpForm.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-181 refactor: refactor
  README.md
  src/features/auth/model/signUp/singUpSchema.ts
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-181 refactor: delete .env file
  .env
Due: none

IN-196 feat: add popover crop markup
  src/assets/icons/outlineIcons/BookPhotoOutline.tsx
  src/assets/icons/outlineIcons/LandscapePhotoOutline.tsx
  src/assets/icons/outlineIcons/SquarePhotoOutline.tsx
  src/common/components/popover/Popover.tsx
  src/features/createPost/ui/components/photoControllerButton/PhotoControllerButton.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/ScaleControllerButtons.tsx
  src/features/createPost/ui/cropping/ScaleControllerPopover.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add popover slider markup
  src/features/createPost/ui/components/slider/Slider.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/RatioControllerButtons.tsx
  src/features/createPost/ui/cropping/RatioControllerPopover.tsx
  src/styles/globals.css
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix, stylelint --fix --allow-empty-input

IN-196 feat: add popover add photo markup
  src/features/createPost/ui/cropping/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add store
  src/common/components/sideBar/SideBar.tsx
  src/features/createPost/model/PhotoEditorProvider.tsx
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/model/useStages.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

[IN-203] init: add SSR
  src/pages/profile/[[...id]].tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add hover effects
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/cropping/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/AspectControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/RatioControllerButtons.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add zoom
  src/features/createPost/ui/cropping/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/AspectControllerPopover.tsx
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/ScaleControllerPopover.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 fix: fix zoom behavior
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/ui/cropping/ControllersPanel.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/ScaleControllerPopover.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 chore: add util function for description post
  src/features/home/model/index.ts
  src/features/home/model/utilsCalculateCharactersToShow.ts
  src/features/home/ui/Home.tsx
  src/features/home/ui/PostDescription.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 chore: add translation
  locales/en.ts
  locales/ru.ts
  src/features/home/ui/AddCommentGroup.tsx
  src/features/home/ui/ViewAllCommentsButton.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 chore: fix code
  src/features/home/model/posts/commentsStore.ts
  src/features/home/model/posts/index.ts
  src/features/home/model/posts/likesStore.ts
  src/features/home/model/posts/postsStore.ts
  src/features/home/model/wrapperParentComponent.tsx
  src/features/home/ui/AvatarGroupWithLikes.tsx
  src/features/home/ui/Home.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-159 chore: add skeleton
  src/features/home/ui/Home.tsx
  src/features/home/ui/PostSkeleton.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: find dimension
  src/common/utils/findObjectInArray.ts
  src/features/createPost/model/addPostStore.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/cropping/AspectControllerButtons.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-181 / refactor zod errors and README file (#88)
  .env
  .env.example
  .env.production
  .gitignore
  README.md
  locales/en.ts
  locales/ru.ts
  src/common/components/reCaptcha/BaseReCAPTCHA.tsx
  src/common/enviroments.ts
  src/common/hooks/useTranslation.ts
  src/features/auth/model/forgotPassword/forgotPasswordSchema.ts
  src/features/auth/model/forgotPassword/recoveryPasswordSchema.ts
  src/features/auth/model/forgotPassword/useForgotPassword.ts
  src/features/auth/model/forgotPassword/useRecoveryPassword.ts
  src/features/auth/model/signIn/singInSchema.ts
  src/features/auth/model/signIn/useSignIn.ts
  src/features/auth/model/signUp/singUpSchema.ts
  src/features/auth/model/signUp/useSignUp.ts
  src/features/auth/ui/SignInForm.tsx
  src/features/auth/ui/forgotPassword/ForgotPasswordForm.tsx
  src/features/auth/ui/forgotPassword/RecoveryPasswordForm.tsx
  src/features/auth/ui/signUp/SignUpForm.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 feat: add slider for crop
  src/common/components/sideBar/SideBar.tsx
  src/common/utils/clearAllData.ts
  src/features/createPost/model/addPostPhotoStore.ts
  src/features/createPost/model/constants.ts
  src/features/createPost/model/types.ts
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/NewPostDialog.tsx
  src/features/createPost/ui/components/photoControllerButton/PhotoControllerButton.tsx
  src/features/createPost/ui/cropping/AddPhotoControllerPopover.tsx
  src/features/createPost/ui/cropping/AspectControllerButtons.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
  src/features/createPost/ui/cropping/ScaleControllerPopover.tsx
  src/features/createPost/ui/filtering/FilterPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

IN-196 fix: fix accepted files, add multiple
  src/features/createPost/ui/AddPhotoModal.tsx
  src/features/createPost/ui/cropping/CropPhotoModal.tsx
Due: prettier --write, eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,css})
  eslint --ext .jsx,.js,.tsx,.ts --no-error-on-unmatched-pattern --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{scss,css}
